<!-- Full Page Intro -->
<div class="view full-page-intro" style="background-image: url('../../../assets/portada.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="container mt-2">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4 white-text text-center text-md-left">
                    <h1 class="display-4 font-weight-bold">Bienvenido a la Comanda</h1>
                    <hr class="hr-light">
                    <p>
                        <strong>Proyecto realizado por Lucila Rizzi</strong>
                    </p>
                    <p class="mb-4 d-none d-md-block">
                        <strong>Laboratorio 4 -  Mecon 2019</strong>
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4" *ngIf="ver">
                    <!-- Outer Row -->
                    <div class="row justify-content-center">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->

                                <div class="col-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4" *ngIf="!crearNuevo"> Bienvenide
                                                <i class="fas fa-question-circle" (click)="ayuda()"></i>
                                            </h1>
                                            <h1 class="h4 text-gray-900 mb-4" *ngIf="crearNuevo"> Bienvenide a le regristration
                                                <i class="fas fa-question-circle" (click)="ayuda()"></i>
                                            </h1>

                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user validate" id="correo" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address..." data-error="Bruh, that email address is invalid" required>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="clave" [(ngModel)]="pass" name="pass" placeholder="Password">
                                            </div>
                                            <div class="form-group animated fadeInDown" *ngIf="crearNuevo">
                                                <input type="password" class="form-control form-control-user" id="clave" [(ngModel)]="pass2" name="pass" placeholder="Password">
                                            </div>
                                            <div class="form-group animated fadeInDown" *ngIf="crearNuevo">
                                                <input type="file" class="form-control form-control-user" id="file" (change)=" detectFiles($event)">
                                            </div>

                                            <div class="btn-group  animated fadeInDown" role="group" aria-label="Basic example">
                                                <button (click)="entrar()" type="button" class="col-4 btn btn-warning" *ngIf="!crearNuevo">
                                                                    Login
                                                                </button>
                                                <button (click)="ingresar()" type="button" class=" col-4 btn btn-info" *ngIf="!crearNuevo">
                                                                    Cliente Invitado
                                                                </button>
                                                <button (click)="crear()" type="button" class="col-4 btn btn-danger" *ngIf="!crearNuevo">
                                                                    Registrarse
                                                </button>
                                            </div>
                                            <div class="row" *ngIf="crearNuevo">
                                                <div class="col-12">
                                                    <re-captcha (resolved)="resolved($event)" siteKey="6Ld0x8QUAAAAAKovkTQJYNS5PASrPH6EgutN7DtR"></re-captcha>
                                                </div>
                                            </div>

                                            <hr *ngIf="crearNuevo">
                                            <a (click)="crearValidar()" class="btn btn btn-success btn-user btn-block" *ngIf="crearNuevo">
                                                                Crear Usuario
                                                            </a>

                                            <div class="row">
                                                <div class="col-6">
                                                    <a (click)=" entrarConGooGle()" class="btn btn-deep-purple btn-block" *ngIf="crearNuevo">
                                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a (click)="entrarConGithub()" class="btn btn btn-dark btn-block" *ngIf="crearNuevo">
                                                        <i class="fab fa-github"></i> Login with Github
                                                    </a>
                                                </div>
                                            </div>


                                            <div class="col-4"></div>
                                            <div (click)="volver()" class=" btn btn btn-info btn-block" *ngIf="crearNuevo">
                                                volver
                                            </div>
                                            <div class="col-4"></div>
                                            <hr>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12  white-text" *ngIf="!crearNuevo">
                            <h4 class="ml-5">Botones de perfiles</h4>
                            <div class="btn-group col-12 animated fadeInDown" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" (click)="usuario(1)" *ngIf="!crearNuevo">Admin</button>
                                <button type="button" class="btn btn-info" (click)="usuario(2)" *ngIf="!crearNuevo">Cliente</button>
                                <button type="button" class="btn btn-warning" (click)="usuario(10)" *ngIf="!crearNuevo">Cliente2</button>
                            </div>
                            <div class="btn-group col-6  col-md-12 col-sm-12 animated fadeInDown" role="group" aria-label="Basic example" *ngIf="!crearNuevo">
                                <button type="button" class="btn btn-success " (click)="usuario(3)" *ngIf="!crearNuevo">Postre</button>
                                <button type="button" class="btn btn-primary" (click)="usuario(4)" *ngIf="!crearNuevo">Cerveza</button>
                                <button type="button" class="btn btn-secondary" (click)="usuario(5)" *ngIf="!crearNuevo">Mozo</button>
                            </div>
                            <div class="btn-group col-6  col-md-12 col-sm-12 animated fadeInDown" role="group" aria-label="Basic example" *ngIf="!crearNuevo">
                                <button type="button" class="btn btn-warning" (click)="usuario(6)" *ngIf="!crearNuevo">Cocina</button>
                                <button type="button" class="btn btn-danger" (click)="usuario(7)" *ngIf="!crearNuevo">tragos</button>
                            </div>
                            <div class="btn-group col-12 animated fadeInDown" role="group" aria-label="Basic example" *ngIf="!crearNuevo">
                                <button type="button" class="btn btn-info" (click)="usuario(8)" *ngIf="!crearNuevo"><i class="fab fa-google"></i></button>
                                <button type="button" class="btn btn-dark" (click)="usuario(9)" *ngIf="!crearNuevo"><i class="fab fa-github"></i></button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!-- Content -->

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">

        <a href="https://twitter.com/lucilarizzi" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://github.com/luloop" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        Gracias por llegar hasta aca:
        <a href="https://luloop.com.ar" target="_blank"> luloop.com.ar </a>
    </div>
    <!--/.Copyright-->

</footer>