<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong> Encuesta</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <p class="mt-3"> ¿Que te parecio la atencion?</p>
        <app-puntos-encuesta [nombre]="'mozo'" (elegir)="notaMozo($event)"></app-puntos-encuesta>

        <hr>
        <p> ¿Que te parecio la bebida?</p>
        <app-puntos-encuesta [nombre]="'bebida'" (elegir)="notaBebida($event)"></app-puntos-encuesta>
        <hr>
        <p> ¿Que te parecio la comida?</p>
        <app-puntos-encuesta [nombre]="'comida'" (elegir)="notaCocina($event)"></app-puntos-encuesta>
        <hr>

        <p class="mt-3"> ¿El restaurant?</p>
        <app-puntos-encuesta [nombre]="'general'" (elegir)="notaGeneral($event)"></app-puntos-encuesta>
        <form action="">
            <div class="md-form">
                <input class="form-control" type="text" name="sugerencia" id="sugerencia" [(ngModel)]="sugerencia" maxlength='66'>
                <label for="sugerencia">Sugerencia</label>

            </div>
        </form>

        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="guardar()">Enviar</button>

    </div>
</div>